In [ ]:
create one variable containg following data types

In [1]:
s="daksh"  # string
type(s)

str

In [2]:
l=["hello",1,2]
type(l)

list

In [3]:
f=23.555
type(f)

float

In [4]:
t=(2,3,"hello")
type(t)

tuple

In [ ]:
what are the data types of following variables

In [5]:
var1=" "
type(var1)

str

In [8]:
var2='[ds,ml,python]'
type(var2)

str

In [9]:
var3=['ds','ml','python']
type(var3)

list

In [10]:
var=1
type(var)

int

In [ ]:
explain the use of following operators

In [11]:
c=2/3  #used to perform division

In [12]:
c

0.6666666666666666

In [13]:
d=4%2  #used to find the remainder
d

0

In [ ]:
df=46//5  #used to find the floor value of division
df

In [ ]:
e=2**3   #used to find the exponential of any value
e

In [ ]:
 ##Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
##element and its data type.

In [27]:
l1=[1,2.3,"daksh",["we",2,3],6,8,"h","g",5,4]
for i in l1 :
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>

In [ ]:
 #Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
#times it can be divisible

In [ ]:
a=int(input())
k=int(input())
while a%k==0:
    c=a/k
    print("it is divisible",c,"times")
    
else:
     print("not divible")

In [ ]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not."""

In [3]:
li2=[5,6,3,8,9,24,64,76,85,45,63,78,94,873,256,784,343,56,84,79,90,39,845,744,644]
for i in li2:
    if i%3==0 :
        print(i, "is divisible by 3")
        
    else:
        print(i,"not divisible")

5 not divisible
6 is divisible by 3
3 is divisible by 3
8 not divisible
9 is divisible by 3
24 is divisible by 3
64 not divisible
76 not divisible
85 not divisible
45 is divisible by 3
63 is divisible by 3
78 is divisible by 3
94 not divisible
873 is divisible by 3
256 not divisible
784 not divisible
343 not divisible
56 not divisible
84 is divisible by 3
79 not divisible
90 is divisible by 3
39 is divisible by 3
845 not divisible
744 is divisible by 3
644 not divisible

In [ ]:
#What do you understand about mutable and immutable data types? Give examples for both showing 
#this property

In [ ]:
""" in mutable datatypes we can modify the values of data types such as list ,dictionaries

In [4]:
li2

[5,
 6,
 3,
 8,
 9,
 24,
 64,
 76,
 85,
 45,
 63,
 78,
 94,
 873,
 256,
 784,
 343,
 56,
 84,
 79,
 90,
 39,
 845,
 744,
 644]

In [6]:
li2[2]="daksh"

In [7]:
li2

[5,
 6,
 'daksh',
 8,
 9,
 24,
 64,
 76,
 85,
 45,
 63,
 78,
 94,
 873,
 256,
 784,
 343,
 56,
 84,
 79,
 90,
 39,
 845,
 744,
 644]

In [8]:
si="daksh"  ##  In immutable does not allow to modify data
si[2]=i
si

TypeError: 'str' object does not support item assignment